body {
  background-color: #323232;
  text-align: center;
}
#frame {
  max-width: 90%;
  margin: 0 auto;
}
h1 {
  font-size: 3.125rem;
  color: white;
  margin-top: 5rem;
  text-align: center;
}
.gravestone {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  border: #e0e0e0 1rem;
  border-style: dashed;
  padding: 0.5rem;
  padding-top: 0;
  margin: 3rem 2rem;
  max-width: 20rem;
  min-width: 17rem;
}
.owlname {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
.stonebody {
  color: white;
  margin: 0 1.2rem;
  text-align: left;
}
.epitaph {
  line-height: 2rem;
  color: white;
  font-weight: 200;
  font-style: oblique;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}
hr.segment {
  margin-top: 4rem;
  border: 0;
  height: 0.2rem;
  background-image: linear-gradient(to right, rgba(230, 230, 230, 0), rgba(230, 230, 230, 0.3), rgba(230, 230, 230, 0));
}
#navbar {
  width: 100%;
  height: 1rem;
}
#navbar ul {
  float: right;
  color: white;
  list-style: none;
  align-items: center;
  line-height: 2rem;
}
#navbar li {
  padding: 0 2rem 0 0;
  display: inline;
}
#navbar li a {
  text-decoration: none;
  color: white;
}
#navbar li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.2rem;
}
