body {
  background-color: #323232;
  text-align: center;
}
#frame {
  max-width: 50rem;
  margin: 0 auto;
}
h1 {
  font-size: 2.5rem;
  color: white;
  margin-top: 3rem;
  text-align: center;
}
p {
  color: white;
}
hr.segment {
  border: 0;
  height: 0.2rem;
  background-image: linear-gradient(to right, rgba(230, 230, 230, 0), rgba(230, 230, 230, 0.3), rgba(230, 230, 230, 0));
}
#navbar {
  width: 100%;
  height: 1rem;
}
#navbar ul {
  float: right;
  color: white;
  list-style: none;
  align-items: center;
  line-height: 2rem;
}
#navbar li {
  padding: 0 2rem 0 0;
  display: inline;
}
#navbar li a {
  text-decoration: none;
  color: white;
}
#navbar li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.2rem;
}
